@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Playpen+Sans:wght@100..800&family=Schoolbell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Playpen+Sans:wght@100..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Schoolbell&display=swap');

:root {
    --black: #000000;
    --claret: #71122B;
    --uranian_blue: #c1ecff;
    --pink: #ffc2ca;
    --white: #ffffff;
}

body {
    background-color: var(--pink);
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

h1 {
    color: var(--claret);
    font-size: 40px;
    text-align: center;
    font-family: "Playpen Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin: 25px 0 35px 0;
}

main {
    background-color: var(--uranian_blue);
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
}

.pink_button{
    height: 35px;
    padding: 4px 0;
    border: none;
    background-color: var(--pink);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: var(--claret);
    font-size: 22px;
    text-align: center;
    font-family: "Playpen Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.large_button{
    width: 90%;
    margin: 10px 5%;
    box-shadow: 0 10px 5px -10px var(--claret);
}

.dates_container{
    margin: 40px 0;
}

.date_card {
    background-color: var(--white);
    width: 90%;
    margin: 30px auto;
    border-radius: 15px;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}

.date_card h2 {
    color: var(--claret);
    background-color: var(--pink);
    font-size: 20px;
    margin: 0;
    padding: 5px 10px;
    text-align: center;
    font-family: "Playpen Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.date_card p {
    font-size: 18px;
    font-weight: 400;
}

.date_card h3 {
    font-size: 25px;
    font-weight: 600;
    font-style: normal;
    margin: 10px 0;
}

.date_card button{
    width: 100%;
    margin: 10px 0;
}

.images_container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 25px;
    padding: 10px 0 20px 0;
}

.images_container img {
    width: 50%;
    max-width: 30%;
    min-width: 120px;
    border-radius: 10px;
    box-shadow: 0 8px 3px -5px var(--pink);
    transition: all .3s;
}

.images_container img:hover {
    translate: 0 -10px;
}

.date_info {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
}